<strong>Hey, {{ onwer }}</strong>

<p>
  <strong>{{ subscriber }}</strong> irá se juntar a você no meetup <strong>{{ meetup }}</strong>
</p>

<p>E não esqueça, o meetup será <strong>{{ date }}</strong>, no local <strong>{{ location }}</strong> </p>
